:root {
	--accent: rgb(238, 118, 124);
	--accent-slight: rgba(238, 118, 124, 0.7);
	--accent-tame: rgba(229, 94, 101, 0.3);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100vw;
}

html {
	scroll-behavior: smooth;
	text-align: center;
}

body {
	background-color: #f8fafc;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

/* Header */
header {
	box-shadow: 0px -3px 20px rgba(0, 0, 0, 0.316);
	position: sticky;
	z-index: 101;
	top: 0;
	background-color: white;
}

.nav {
	max-width: 1200px;
	padding: 12px 20px;
	display: flex;
	align-items: center;
	margin: 0 auto;
	justify-content: space-between;
}

.nav-links {
	display: flex;
}

.nav-links .element {
	margin-left: 30px;
	display: flex;
	align-items: center;
}

.nav-links .element a {
	font-weight: 650;
}

a.logo {
	display: flex;
	font-size: 1.5rem;
	font-weight: 700;
	color: #e55e64;
}

a.logo > div {
	margin-left: 15px;
	align-content: center;
}

a.logo img {
	width: 50px;
}

.sub {
	color: grey;
	font-weight: 500;
	font-size: 0.75rem;
	line-height: 1.5;
}

@media (max-width: 600px) {
	.nav-links .element {
		margin-left: 15px;
	}

	.nav-links .element a p {
		display: none;
	}
}

@media (max-width: 420px) {
	.logo .texto {
		display: none;
	}
}

img.icon {
	width: 26px;
	height: auto;
	margin-right: 10px;
}

.underline {
	position: relative;
	padding: 5px;
	transition-duration: 0.3s;
}

.underline img {
	transition-duration: 0.3s;
}

.underline::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background: black;
	transition: width 0.3s;
}

.underline:hover {
	color: var(--accent);
}

.underline:hover img {
	transition-duration: 0.3s;
	filter: invert(46%) sepia(59%) saturate(575%) hue-rotate(318deg) brightness(95%) contrast(92%);
}

.underline:hover::after {
	background-color: #e55e64;
	width: 100%;
}

.svg {
	color: black;
	display: inline-flex;
	align-items: center;
}

.inv {
	opacity: 0 !important;
}

/* Botones */
.boton {
	transition-duration: 0.2s;
	border-radius: 80px;
	padding: 10px 30px;
	margin-top: 20px;
	border: 2px solid transparent;
	text-decoration: none;
}

.wsp {
	background: #25d366 !important;
}

.wsp:hover {
	transition-duration: 0.2s;
	border: 2px solid black;
}
