main {
	padding: 30px;
}

.cards-grid {
	margin-top: 30px;
}

.card-icon {
	width: auto;
	height: auto;
	background: none;

	img {
		width: 100%;
		height: 100%;
		min-height: 80px;
		border-radius: 5px;
	}
}
