/* Carrusel */
.legend {
	position: absolute;
	color: var(--accent);
	background-color: var(--accent-tame);
	font-weight: 700;
	width: max-content;
	padding: 6px 12px;
	border-radius: 20px;
	z-index: 4;
	margin: 25px 0 0 25px;
}

.carrusel {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: calc(100vh - 80px);
	min-height: 400px;
	background: #f0f0f0;
}

.slide-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: translateX(100%);
	transition: all 1s ease;
	pointer-events: none;
	z-index: 1;
}

.slide-container.active {
	opacity: 1;
	transform: translateX(0%);
	z-index: 2;
	pointer-events: auto;
}

.slide-container.post {
	opacity: 0;
	transform: translateX(-100%);
	z-index: 0;
}

.image-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.display {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	position: relative;
	z-index: 2;
	border-radius: 4px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.image-blur {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	filter: blur(20px) brightness(1.1);
	opacity: 0.7;
	z-index: 1;
	transform: scale(1.1);
}

.info {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), transparent);
	padding: 20px 30px;
	z-index: 3;
	color: white;
}

.title {
	font-size: x-large;
	font-weight: 600;
	margin-bottom: 8px;
	color: white;
	text-align:left;
}

.description {
	font-size: 16px;
	margin-bottom: 15px;
	color: rgba(255, 255, 255, 0.9);
	max-width: 600px;
}

a.info-link {
	display: flex;
	align-items: center;
	color: white;
	padding: 10px 0;
	position: relative;
	width: max-content;
	text-decoration: none;
	font-weight: 500;
	transition-duration: .3s;
}

a.info-link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background: white;
	transition: width .3s;
}

a.info-link:hover {
	color: var(--accent);
}

a.info-link:hover img {
	transition-duration: 0.3s;
	filter: invert(46%) sepia(59%) saturate(575%) hue-rotate(318deg) brightness(95%) contrast(92%);
}

a.info-link:hover::after {
	background-color: var(--accent);
	width: 100%;
}

a.info-link img.icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	filter: invert(1);
}