* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #F8FAFC;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
	text-decoration: none;
}


header {
	box-shadow: 0px -3px 20px rgba(0, 0, 0, 0.316);

	.nav {
		max-width: 1200px;
		padding: 12px 20px;
		display: flex;
		align-items: center;
		margin: 0 auto;
		justify-content: space-between;


		.nav-links {
			display: flex;

			.element {
				margin-left: 30px;
				display: flex;
				align-items: center;

				img.icon {
					width: 26px;
					margin-right: 10px;
				}

				a {
					font-weight: 650;
					display: inline-flex;
					align-items: center;
					transition-duration: 0.3s;
					padding: 5px;
					color: black;
					position: relative;

					img {
						transition-duration: 0.3s;

					}

					&::after {
						content: "";
						position: absolute;
						left: 0;
						bottom: 0;
						width: 0;
						height: 2px;
						background: black;
						transition: width .3s;
					}

					&:hover {
						color: #E55E64;

						img {
							transition-duration: 0.3s;
							filter: invert(46%) sepia(59%) saturate(575%) hue-rotate(318deg) brightness(95%) contrast(92%);
						}

						&::after {
							background-color: #E55E64;
							width: 100%;
						}
					}

				}
			}

		}

		a.logo {
			display: flex;
			font-size: 1.5rem;
			font-weight: 700;
			color: #E55E64;

			&>div {
				margin-left: 15px;
			}

			.logo-icon img {
				width: 50px;

			}

			.sub {
				color: grey;
				font-weight: 500;
				font-size: 0.75rem;
				line-height: 1.5;
			}
		}
	}

}