main {
	padding-bottom: 200px;
}

/* Sección Hacemos */
#hacemos {
	margin-bottom: 100px;
}

#hacemos h1 {
	font-size: clamp(2.5rem, 3.25rem, 4rem);
}

#hacemos p.sub {
	margin-top: 15px;
}

/* Division */
.division {
	background: radial-gradient(circle at left, var(--accent) 0, var(--accent-slight) 100%);
	margin: 20px 40px;
	border-radius: 40px;
	padding: 60px 20px;
}

.division h2 {
	margin-bottom: 2rem;
	color: #333;
	font-size: 2rem;
}

/* Ajustes de padding para secciones */
main > div {
	padding: 45px 60px;
}

@media (max-width: 719px) {
	main > div {
		padding: 45px 20px;
	}
}

@media (max-width: 1000px) and (min-width:720px) {
	main > div {
		padding: 45px 40px;
	}
}

/* Clases utilitarias */
.d4 {
	margin-bottom: 40px;
}

.strong {
	font-weight: 700;
}

.sub {
	color: rgb(81, 81, 81);
	font-weight: 600;
}